<!-- partials/header.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'front:home' %}">StockTracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'front:home' %}">Top Stocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'front:home' %}">Trending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'front:compare_stocks' %}">Compare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'front:all_stocks' %}">All Stocks</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-secondary" id="theme-toggle">Toggle Theme</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
